<%= form_for @user, local: true do |f| %>
<p>
<%= f.label :username, "User Name" %>
<%= f.text_field :username %>
</p>
<p>
<%= f.label :email, "Email" %>
<%= f.text_field :email %>
</p>
<p>
<%= f.label :password, "Password" %>
<%= f.password_field :password %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>
